/* add padding so content begins below nav on page */
body {
    padding-top: 60px; 
    padding-bottom: 100px;
}

/* homepage welcome font */
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/* CSS for Nav banner */

/* sign up button css  */

.jjk-nav {
    font-family: "Megrim", system-ui;
    font-weight: 900;
    font-style: normal;
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.nav-lgo-btn {
    margin: 5px;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: white;
}

/* position, width and z-index help with sticky navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: rgb(58, 50, 102);
    border: 2px solid rgb(109, 94, 190);
}

.menu-button {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #4d59ff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.menu-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.login-button {
    width: 80px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #4d59ff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.login-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/* CSS for Footer */

.footerhead {
    color: white;
    text-align: center;
}

/* CSS for home page */

.homepg-welcome {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: homepg-welcome 1s ease-in-out infinite alternate;
    padding-top: 70px;
    padding-bottom: 30px;
}

/* animated glow for welcome sorceror text */
@keyframes homepg-welcome {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #041e94, 0 0 40px #1229aa, 0 0 50px #111fec, 0 0 60px #2d41b4, 0 0 70px #0f00e6;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4d59ff, 0 0 40px #4d68ff, 0 0 50px #4d59ff, 0 0 60px #4d68ff, 0 0 70px #4d68ff, 0 0 80px #4d59ff;
    }
}

/* sign up button css  */

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 180px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #4d59ff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/* Sign Up page CSS */

.signup-container {
    text-align: center;
    padding: 30px;
}

.signup-input {
    margin: 20px;
}

input {
    border: none;
    outline: none;
    display: inline-block;
    height: 45px;
    vertical-align: middle;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 250px;
    box-sizing: border-box;
    padding: 0 18px;
}

.signup-logo {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: signup-logo 1s ease-in-out infinite alternate;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* animated glow for sign up text */
@keyframes signup-logo {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #041e94, 0 0 40px #1229aa, 0 0 50px #111fec, 0 0 60px #2d41b4, 0 0 70px #0f00e6;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4d59ff, 0 0 40px #4d68ff, 0 0 50px #4d59ff, 0 0 60px #4d68ff, 0 0 70px #4d68ff, 0 0 80px #4d59ff;
    }
}

/* Login page css */

/* Sign Up page CSS */

.login-container {
    text-align: center;
    padding: 30px;
}

.login-input {
    margin: 20px;
}

.login-logo {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: login-logo 1s ease-in-out infinite alternate;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* animated glow for login text */
@keyframes login-logo {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #041e94, 0 0 40px #1229aa, 0 0 50px #111fec, 0 0 60px #2d41b4, 0 0 70px #0f00e6;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4d59ff, 0 0 40px #4d68ff, 0 0 50px #4d59ff, 0 0 60px #4d68ff, 0 0 70px #4d68ff, 0 0 80px #4d59ff;
    }
}

/* Footer CSS  */

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: rgb(58, 50, 102);
    border-top: 5px solid rgb(109, 94, 190);
}


.footer-logo {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #fff;
    text-align: center;
    animation: login-logo 1s ease-in-out infinite alternate;
}

/* CSS for Blog post titles */

.post-title {
    margin: 20px auto;
    padding: 5px;
    border-radius: 40px;
    height: 140px;
    background-color:rgb(58, 50, 102);
    border: 2px solid rgb(109, 94, 190);
}

.card-title {
    padding-bottom: 20px;
}

.blog-title {
    font-family: "Megrim", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    text-align: center;
    animation: login-logo 1s ease-in-out infinite alternate;
    text-wrap:wrap;

}

/* handle overflow for card titles */
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    text-align: center;
}

/* css for create post page */

.newpost-container {
    text-align: center;
    padding: 30px;
}

.newpost-input { 
    margin: 20px;
    padding: 10px;
}

.newpost-desc {
    height: 150px;
}

